.SuccessN {
  margin: 1rem auto;
  width: 500px;
  min-width: 150px;
  max-width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 2px 10px  rgb(116, 116, 116);
}
.SuccessN > svg {
  font-size: 5rem;
  color: green;
}

.SuccessN > h2 {
  font-size: 1.4rem;
  color: black;
}

.SuccessN > p {
  font-size: 1.2rem;
}

.success{
  margin-top: 1rem;
}