.allTypeFormPage {
  position: relative;
  width: 100%;
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainFormContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  width: 400px;
  min-width: 150px;
  max-width: 90%;
}

.form__header {
  border-bottom: 1px solid black;
  background-color: shadow;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.form__header p {
  text-align: center;
  max-width: 60%;
}

.form__header p a {
  color: blue;
}

.formClass {
  padding: 1rem;
  width: 90%;
}

.form__control {
  margin: 1rem 0;
  position: relative;
}

.form__control label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: 500;
}

.form__control input,
.form__control textarea,
.form__control select {
  border: 1px solid black;
  display: block;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
  resize: vertical;
}

.form__control > .password {
  padding-right: 40px;
}

.form__control svg {
  position: absolute;
  top: 34px;
  right: 10px;
  cursor: pointer;
  font-size: 1.5rem;
}

.validateError.img{
  font-size: .9rem;
  position: absolute;
  right: 0;
  top: 0;
}

.formSubmitBtn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1rem;
  color: #fff;
  background: #192a56;
  border-radius: 0.2rem;
  cursor: pointer;
  padding: 0.3rem 1.6rem;
}

.formSubmitBtn:hover {
  background: #27ae60;
  letter-spacing: 0.1rem;
}

@media screen and (max-width: 414px) {
  .formClass {
    width: 100%;
  }
}
